rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- Helpers ---
    function loggedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return loggedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth != null && 
            get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.roles.hasAny(['admin', 'super_admin']);
    }

    function isSuperAdmin() {
      return request.auth != null && 
            get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.roles.hasAny(['super_admin']);
    }

    // --- Usuários ---
    match /usuarios/{userId} {
      allow get: if isAdmin() || isOwner(userId);
      allow list: if isAdmin(); 

      allow update: if (isOwner(userId) || isAdmin()) 
                    && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['roles', 'email'])
                    && (
                      request.resource.data.precisaMudarSenha == resource.data.precisaMudarSenha ||
                      (resource.data.precisaMudarSenha == true && request.resource.data.precisaMudarSenha == false)
                    );
      
      allow create, delete: if isAdmin();
    }

    // --- Pagamentos ---
    match /pagamentos/{paymentId} {
      allow get: if isAdmin() || (loggedIn() && resource.data.atletaId == request.auth.uid);
      allow list: if loggedIn(); // O filtro real é feito pela query no frontend
      
      allow update: if isAdmin() || (loggedIn() && resource.data.atletaId == request.auth.uid);
      allow create: if isAdmin();
      allow delete: if isSuperAdmin();
    }

    match /cobrancas/{cobrancaId} {
      // Atleta pode ver as suas cobranças, Admin vê todas
      allow read: if isAdmin() || (loggedIn() && resource.data.atletaId == request.auth.uid);
      
      // Apenas Admin pode criar ou deletar cobranças
      allow create, delete: if isAdmin();
      
      // Permitir update para o Admin marcar como 'paga'
      allow update: if isAdmin();
    }
  }
}