/* src/components/Layout.css */
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #1A1A1A;
  color: #F5F5F5;
}

.header {
  display: flex;
  align-items: center;

  padding: 1rem 1.5rem;
  background-color: #252525;
  border-bottom: 1px solid #333;
}

.logo {
  justify-content: center;
  padding: 0.5rem;
  background-color: #252525;
}

.logo img {
  height: 32px;
}

/* 3. O botão de Switch (Centralizado) */
.switch-view-button {
  /* max-height: px; */
  /* margin: 0 auto; empurra o botão para o centro */
  margin-left: auto; /* Joga o switch para a direita, antes do logout */
  margin-right: 1rem;
  
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  background-color: #333;
  border: 1px solid #555;
  color: #FFD600;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  text-wrap: nowrap;
}

.switch-view-button:hover {
  color: #FFD600;
  background-color: #444;
}

.logout-button {
  background: none;
  border: none;
  color: #a0a0a0;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logout-button:hover {
  color: #FFD600; 
  background-color: #333;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
}

/* .bottom-nav {
  display: flex;
  justify-content: space-around;
  background-color: #252525;
  padding: 0.5rem 0;
  border-top: 1px solid #333;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #888;
  text-decoration: none;
  font-size: 0.75rem;
}

.nav-item.active {
  color: #ffcd32;
} */