/* src/components/Layout.css */
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #1A1A1A;
  color: #F5F5F5;
}

.header {
  display: flex;
  justify-content: space-between;

  padding: 1rem 1.5rem;
  background-color: #252525;
  border-bottom: 1px solid #333;
}

.logo {
  justify-content: center;
  padding: 0.5rem;
  background-color: #252525;
}

.logo img {
  height: 32px;
}

.logout-button {
  background: none;
  border: none;
  color: #a0a0a0;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logout-button:hover {
  color: #FFD600; 
  background-color: #333;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
}

/* .bottom-nav {
  display: flex;
  justify-content: space-around;
  background-color: #252525;
  padding: 0.5rem 0;
  border-top: 1px solid #333;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #888;
  text-decoration: none;
  font-size: 0.75rem;
}

.nav-item.active {
  color: #ffcd32;
} */