/* src/components/PaymentsListCard/PaymentsListCard.css */

/* Estilo Base para o Card (importante para o espaçamento) */
.card {
  background-color: #252525;
  border-radius: 16px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

/* Classes Utilitárias (compartilhadas) */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Itens da Lista (estilos comuns) */
.item-info {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.25rem;
  align-items: center;
}

.item-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: rgb(180, 180, 180);
}

/* ================================== */
/* Bloco 3: Card de Atraso (LATE) */
/* ================================== */
.late-card {
  background-color: rgba(255, 0, 0, 0.1);
  border: 3px solid #ff0000ad;
  color: #ff0000ad;
}

.late-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: #ff0000ad;
}

.late-list {
  margin-top: 1rem;
}

/* Estilos para o card-item de atraso */
.late-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem; /* Isso já está no .card, mas podemos manter */
  color: #ffffff;
  border: 1px solid #ff0000ad;
  align-items: center;
}

.due-date {
  color: #ffaaaa;
}

.late-amount {
  margin-left: auto;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}

/* ===================================== */
/* Bloco 4: Card de Pendências (PENDING) */
/* ===================================== */
.pending-card {
  background-color: rgba(255, 165, 0, 0.1);
  border: 1px solid #ffa500ad;
  color: #ffa500ad;
}

.pending-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: #ffa500ad;
}

.pending-list {
  margin-top: 1rem;
}

/* Estilos para o card-item de pendência */
.pending-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem; /* Isso já está no .card, mas podemos manter */
  color: #ffffff;
  border: 1px solid #ffa500ad;
  align-items: center;
}

.pending-amount {
  margin-left: auto;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}
